.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.inner {
  width: 1020px;
  margin: 0 auto;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Regular.ttf");
}

@font-face {
  font-family: "PTSansItalic";
  src: url("../fonts/PTSans-RegularItalic.ttf");
}

@font-face {
  font-family: "LucidaSans";
  src: url("../fonts/lucida-sans/LucidaSansRegular.ttf");
}

@font-face {
  font-family: "PTSansBoldItalic";
  src: url("../fonts/PTSans-BoldItalic.ttf");
}

@font-face {
  font-family: "SegueWP";
  src: url("../fonts/segoe-wp-cufonfonts/SegoeWP.ttf");
}

.section-1 {
  background: url("../img/section-1-bg.png");
  height: 565px;
}

.section-2 {
  background: url("../img/section-2-bg.png");
  height: 212px;
  box-shadow: 0px 2px 3px #4d4c4c, 0px -2px 3px #4d4c4c;
  z-index: 1;
  position: relative;
}

.section-3 {
  background: url("../img/section-3-bg.png");
  height: 509px;
}

.section-4 {
  background: url("../img/section-4-bg.png");
  height: 496px;
}

.footer {
  background-color: #4c4c4c;
  height: 65px;
  box-shadow: 0 -2px 3px #000000;
}

.header {
  padding-top: 27px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 40px;
  font-family: 'LucidaSans';
  font-style: italic;
  text-transform: uppercase;
}

.img-area {
  display: flex;
  position: relative;
}

.img-area > img + img {
  transform: rotate(44deg);
  opacity: 0.5;
  position: absolute;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 453px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41px;
  margin-top: 24px;
  width: 100%;
  text-transform: uppercase;
  background-color: #f5c506;
  color: #9b7d08;
  z-index: 3;
}

.menu:hover {
  cursor: pointer;
  background-color: #f7cf31;
}

.menu > img {
  padding: 8px;
}

.menu + .menu {
  border-left: 1px solid #dcb105;
}

.menu-bg-1 {
  width: 453px;
  height: 41px;
  right: 8px;
  top: 13px;
  position: absolute;
  background-color: rgba(245, 197, 6, 0.27);
  z-index: 1;
}

.menu-bg-2 {
  width: 453px;
  height: 41px;
  left: 4px;
  top: 6px;
  position: absolute;
  background-color: rgba(245, 197, 6, 0.27);
  z-index: 2;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 327px;
  margin-top: 57px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video {
  width: 549px;
  height: 327px;
  margin-left: 10px;
}

.content .text {
  width: 430px;
  height: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 63px;
  font-family: "PTSans";
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content .text .text-1 {
  color: #f5c506;
}

.content .text .text-2 {
  color: #fff;
}

.content .btn {
  width: 32px;
  height: 57px;
  background-color: #f5c506;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .btn:hover {
  cursor: pointer;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.section-2 > .inner {
  height: 100%;
}

.services > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.services > div:hover {
  background-color: rgba(247, 207, 49, 0.27);
  cursor: pointer;
}

.services img {
  margin-bottom: 17px;
}

.services .text {
  text-transform: uppercase;
  font-family: 'SegueWP';
  font-size: 27px;
  margin-bottom: 37px;
}

.service-1 {
  border-left: 1px solid #d4d4d4;
}

.service-2 {
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
}

.service-3 {
  border-right: 1px solid #d4d4d4;
}